{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --ignore-unknown --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "!(*.ts|*.tsx|*.js|*.jsx|*.scss)": "prettier --ignore-unknown --write"
}
